*{
	padding: 0px;
	margin: 0px;
}

header{
	background: #415e9b;
	height: 82px;
	border-bottom: 1px solid #133783;
}

body{
	background-color: #dfe1ee;
}
h1{
	font-size: 30px;
	font-family: ARIAL;
	color: white;
	padding: 20px;
}